@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;400&family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding: 0.25rem 1rem;
}

header {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}

header > nav > ul {
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  justify-content: stretch;
  align-items: center;
  border: 1px solid #555;
  border-radius: 5px;
  color: white;
  background: gray;
  --gray-1: #888888;
  --gray-2: #707070;
  --gray-3: #5e5e5e;
  --gray-4: #777;
  background: linear-gradient(
    var(--gray-1),
    var(--gray-2) 50%,
    var(--gray-3) 50%,
    var(--gray-4)
  );
  font-size: 12px;
}

header > nav > ul > li {
  flex: 1;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #555;
  font-weight: 600;
}

header > nav > ul > li:last-child {
  border-right: none;
}

header .fa-apple {
  font-size: 20px;
}

.search {
  padding: 0 1em;
  min-width: 120px;
}

.search input {
  background: none;
  width: calc(100% - 15px);
  border-radius: 12px;
  padding: 2px 2px 2px 15px;
}

.search input:focus {
  outline: none;
  background: white;
}

.search:focus-within .fa-search {
  color: black;
}

.search-icon {
  position: absolute;
}

.search .fa-search {
  position: relative;
  top: 3px;
  left: 5px;
  font-size: 10px;
}

.hero {
  background-image: url("../images/your_verse_hero.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
  color: white;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin: 1.5rem;
}

.hero-text > * {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0.25rem;
  max-width: 850px;
  font-weight: 300;
}

.hero-text p {
  font-size: 30px;
}

.hero-text a {
  margin: 1rem;
  font-size: 24px;
}

.hero-text h1 {
  font-family: "Assistant", sans-serif;
  font-size: 70px;
  font-weight: 200;
}
